<p>クイックシェア</p>


<p class='btn-primary'><%= link_to 'メモ作成', memos_main_path %></p>
<div1 class="modal-fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div2 class="modal-dialog" role="document">
        <div3 class="modal-content">
            <div4 class="modal-header">
                <p class="modal-title" id="a">メモ検索</p>
            </div4>
            <div5 class="modal-body">
                <%= form_with url: top_search_path, method: :post, local: true  do |f| %>
                <div class="form-group">
                    <%= f.label :password, '合言葉' %><br>
                    <%= f.text_field :password, class: 'form-control' %>
                </div6>

                </div><br>
                <%= f.submit '検索', class: 'btn-btn-primary' %>
                <% end %>
            </div>
        </div>
    </div>
</div>